<template>
  <CFooter :fixed="false">
    <div>
      <a href="https://www.ntt.com/en/index.html" target="_blank">NTTCommunications</a>
      <span class="ml-1">&copy; {{new Date().getFullYear()}} creativeLabs.</span>
    </div>
    <div class="mfs-auto">
      <span class="mr-1" target="_blank">Powered by</span>
      <a href="https://www.secure365.com.my/">Secure365</a>
    </div>
  </CFooter>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
