<template>
  <CSidebar 
    style="background:#667292"
    fixed 
    :minimize="minimize"
    :show="show"
    @update:show="(value) => $store.commit('set', ['sidebarShow', value])"
  
  >
    <CSidebarBrand class="d-md-down-none" to="/">
      <img alt="Vue logo" 
      src="../assets/logo-ntt.png" 
      name="logo" 
      size="custom-size" 
      :height="40" 
      viewBox="5 5 110 134"
      />
    </CSidebarBrand>

    <CRenderFunction flat :content-to-render="$options.nav"/>
  </CSidebar>
</template>

<script>
import nav from './_nav'

export default {
  name: 'TheSidebar',
  nav,
  computed: {
    show () {
      return this.$store.state.sidebarShow 
    },
    minimize () {
      return this.$store.state.sidebarMinimize 
    }
  }
}
</script>
