<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          Camera Screen Listing
        </CCardHeader>
        <CCardBody>
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            clickable-rows
            :active-page="activePage"
            @row-clicked="rowClicked"
            :pagination="{ doubleArrows: false, align: 'center'}"
            @page-change="pageChange"
          >
            <template #status="data">
              <td>
                <CBadge :color="getBadge(data.item.status)">
                  {{data.item.status}}
                </CBadge>
              </td>
            </template>
            <template #action="data">
              <td>
                <CButton color=""><CIcon name="cib-chromecast"/></CButton>
                <CButton color=""><CIcon name="cilPowerStandby"/></CButton>
                <CButton color=""><CIcon name="cilPencil"/></CButton>
                <CButton color=""><CIcon name="cilXCircle"/></CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
export default {
  name: 'Camera',
  data () {
    return {
      items: [],
      fields: [
        { key: 'ScreenTitle', label: 'Screen Title', _classes: 'font-weight-bold' },
        { key: 'ScreenResolution', label: 'Screen Resolution' },
        { key: 'status', label: 'Screen Status' },
        { key: 'action', label: 'Action'}
      ],
      activePage: 1
    }
  },
  mounted() {
    // var axios = require('axios');
    // const email = 'administrator@my.ntt.com';
    // const pwd = 'P!ssw0rd';
    // const ip = '10.115.12.79';
    // const port = '9080';
    // //const hash = crypto.createHmac('SHA256', "F8378550-38BE-11E8-BEE9-8101A52E5AE9").update(pwd).digest('base64');
    // let JSessionId = null;
    // let  userCredentials = {
    // "email": email,
    // "password": pwd
    // }
    // console.log('https://' + ip + ':' + port + '/config/api/v1/login');
    // axios.post('https://' + ip + ':' + port + '/config/api/v1/login', userCredentials)
    // .then(response => {
    //     if (response.headers["set-cookie"]) {
    //         console.log("JSessionID :: " + response.headers["set-cookie"][0].split(';')[0]);
    //         console.log("Set the above token in the subsequent requests in headers- key='cookie'");
    //         JSessionId = response.headers["set-cookie"][0].split(';')[0]; //set this JSessionId for subsequent requests
    //     }
    //     console.log("Login Successful\n\n");
    // })
    // .catch(error => {
    //     console.log(error);
    // });
var axios = require('axios');

var config = {
  method: 'post',
  url: 'https://afrs2.iris.com.my/api/v1/guest?name=jamesbond&mobile=0123456789&remark=test\n&groups=1&receptionUserId=1&dateTimeFrom=2021-07-01 12:00:00&dateTimeTo=2021-\n07-02\n17:00:00&mail=jamesbond@iris.com.my&position=null&gender=1&guestCompany=testing&guestsPurpose=null&icNumber=123456&prompt=test&areaCode=012&idNumber=111111&app_key=fbdff3fc15d13e2b&timestamp=1624949126591&sign=ce14b6601ad49900e7d5235f1fb3ca1e',
  headers: { }
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});


  },
  watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },
  methods: {
    getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    
    pageChange (val) {
      this.$router.push({ query: { page: val }})
    }
  }
}
</script>
