<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          Admin Control Panel
        </CCardHeader>
        <CCardBody>
          <CButton color="success" @click="settingForm = true">New Setting</CButton>
          <hr>
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center'}"
            @page-change="pageChange"
          >
            // eslint-disable-next-line vue/no-unused-vars
            <template #Action="data">
              <td>
                <CButton color="info">Edit</CButton>
                &nbsp;
                <CButton color="danger">Delete</CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
      <div>
          <CModal
            title="New Setting Form"
            :show.sync="settingForm"
            size="xl"
            @update:show="closeModal"
          >
          <CCard>
          <CCardHeader>
            <strong>Camera Information</strong>
          </CCardHeader>
          <CCardBody>
            <CForm>
              <CInput
                horizontal
                :value="settingID"
                v-model="settingID"
                :hidden=true
              />
              <CInput
                label="Setting Title"
                horizontal
                :value="STitle"
                v-model="STitle"
              />
              <CInput
                label="Setting Description"
                horizontal
                :value="SDesc"
                v-model="SDesc"
              />
            </CForm>
          </CCardBody>
        </CCard>
        </CModal>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";
export default {
  name: 'Setting',
  data () {
    return {
      items: [],
      fields: [
        { key: 'Title', label: 'Title'},
        { key: 'Description', label: 'Description' },
        { key: 'Type', label: 'Type'},
        { key: 'Action', label: ''}
      ],
      activePage: 1,
      settingForm: false,
      settingID: null,
      STitle: null,
      SDesc: null
    }
  },mounted:function(){
    axios.get("http://localhost:4457/api/Setting/getCameraLocationAll")
      .then(response => {
         this.items = JSON.parse(response.data);
      })
      // eslint-disable-next-line no-unused-vars
      .catch(err => {
         // Manage the state of the application if the request 
         // has failed      
      })
  },
  watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },
  methods: {
    getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    
    pageChange (val) {
      this.$router.push({ query: { page: val }})
    },

    closeModal(status, evt, accept){
      
      if(accept){
        //alert(document.getElementById('CID').value);
      }
    }
  }
}
</script>
