<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          Camera Status
        </CCardHeader>
        <CCardBody>
          <CButton color="success" @click="cameraForm = true">New Camera</CButton>
          <hr>
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center'}"
            @page-change="pageChange"
          >
            <template #CStatus="data">
              <td>
                <CBadge :color="getBadge(data.item.CStatus)">
                  {{data.item.CStatus}}
                </CBadge>
              </td>
            </template>
            <template #Action="data">
              <td>
                <CButton color="info" @click="editCamera(data.item.CID, data.item.CTitle, data.item.CLocation, data.item.CType, data.item.CURL)">Edit</CButton>
                &nbsp;
                <CButton color="danger" @click="deleteCamera(data.item.CID, data.item.CTitle, data.item.CLocation, data.item.CType, data.item.CURL)">Delete</CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
          <div>
            <CModal
              title="New Camera Form"
              :show.sync="cameraForm"
              size="xl"
              @update:show="closeModal"
            >
            <CCard>
          <CCardHeader>
            <strong>Camera Information</strong>
          </CCardHeader>
          <CCardBody>
            <CForm>
              <CInput
                horizontal
                :value="CID"
                id="CID"
                :hidden=true
              />
              <CInput
                label="Camera Title"
                horizontal
                :value="CTitle"
                id="CTitleID"
              />
              <CInput
                label="Camera Live URL"
                horizontal
                :value="CURL"
                id="CURL"
              />
              <CSelect
                label="Location"
                horizontal
                :options="locationOption"
                placeholder="Please select camera location"
                id="LocationSelect"
              />
              <CSelect
                label="Camera Type"
                horizontal
                :options="typeOfCamera"
                placeholder="Please select type of camera"
                id="TypeOfCameraSelect"
              />
            </CForm>
          </CCardBody>
        </CCard>
        </CModal>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";
export default {
  name: 'Camera',
  data () {
    return {
      items: [],
      fields: [
        { key: 'CTitle', label: 'Camera Name', _classes: 'font-weight-bold' },
        { key: 'CLocation', label: 'Camera Location' },
        { key: 'CType', label: 'Camera Type' },
        { key: 'CURL', label: 'Camera URL'},
        { key: 'CStatus', label: 'Camera Status' },
        { key: 'Action', label:''}
      ],
      activePage: 1,
      cameraForm: false,
      locationOption: [],
      typeOfCamera: []
    }
  },
  mounted:function(){
      axios.get("https://localhost:4354/api/CameraSetup/GetAllCamera?CID=0")
      .then(response => {
         this.items = JSON.parse(response.data);
      })
      // eslint-disable-next-line no-unused-vars
      .catch(err => {
         // Manage the state of the application if the request 
         // has failed      
      }),
      axios.get("https://localhost:4354/api/Setting/getCameraLocation")
      .then(response => {
         this.locationOption = JSON.parse(response.data);
      })
      // eslint-disable-next-line no-unused-vars
      .catch(err => {
         // Manage the state of the application if the request 
         // has failed      
      }),
      axios.get("https://localhost:4354/api/Setting/getCameraType")
      .then(response => {
         this.typeOfCamera = JSON.parse(response.data);
      })
      // eslint-disable-next-line no-unused-vars
      .catch(err => {
         // Manage the state of the application if the request 
         // has failed      
      })
  },
  watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },
  methods: {
    getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    closeModal(status, evt, accept){
      debugger
      if(accept){
        //alert(document.getElementById('CID').value);
        if(this.CID > 0){
          this.APIConnection('Edit');
        }else{
          this.APIConnection('New');
        }
        axios.get("https://localhost:4354/api/CameraSetup/GetAllCamera?CID=0")
        .then(response => {
          this.items = JSON.parse(response.data);
        })
        // eslint-disable-next-line no-unused-vars
        .catch(err => {
          // Manage the state of the application if the request 
          // has failed      
        })
      }
    },
    pageChange (val) {
      this.$router.push({ query: { page: val }})
    },
    editCamera(CID, CTitle, CLocation, CType, CURL){
      document.getElementById('LocationSelect').value = CLocation;
      document.getElementById('TypeOfCameraSelect').value = CType;
      this.CID = CID;
      this.CURL= CURL;
      this.CTitle = CTitle;
      this.cameraForm = true;
    },
    deleteCamera(CID, CTitle, CLocation, CType, CURL){
      var request = new XMLHttpRequest();
      var strCID = CID;
      var strTitle = CTitle;
      var strURL = CURL;
      var sltLocation = CLocation;
      var sltTypeOfCamera = CType;
      request.open('GET', 'https://localhost:4354/API/camerasetup/Edit?cid='+ strCID +'&ctitle='+ strTitle + '&cstatus=Inactive&clocation=' + sltLocation + '&curl=' + strURL + '&ctype=' + sltTypeOfCamera + '&User=Admin', true)
      request.onload = function () {
      // Begin accessing JSON data here
      // eslint-disable-next-line no-unused-vars
        var data = JSON.parse(this.response)

        // eslint-disable-next-line no-empty
        if (request.status >= 200 && request.status < 400) {
          
        } else {
          console.log('error')
        }
      }
      request.send()
      axios.get("https://localhost:4354/api/CameraSetup/GetAllCamera?CID=0")
          .then(response => {
            this.items = JSON.parse(response.data);
          })
          // eslint-disable-next-line no-unused-vars
          .catch(err => {
            // Manage the state of the application if the request 
            // has failed      
          })
    },
    APIConnection(Mode){
      var request = new XMLHttpRequest();
      var strCID = document.getElementById('CID').value;
      var strTitle = document.getElementById('CTitleID').value;
      var strURL = document.getElementById('CURL').value;
      var sltLocation = document.getElementById('LocationSelect').value;
      var sltTypeOfCamera = document.getElementById('TypeOfCameraSelect').value;
      switch(Mode){
        case "New":
          request.open('GET', 'https://localhost:4354/API/camerasetup/Save?ctitle='+ strTitle + '&cstatus=Active&clocation=' + sltLocation + '&curl=' + strURL + '&ctype=' + sltTypeOfCamera + '&createuserid=1&modifyuserid=1', true)
          break;
        case "Edit":
          request.open('GET', 'https://localhost:4354/API/camerasetup/Edit?cid='+ strCID +'&ctitle='+ strTitle + '&cstatus=Active&clocation=' + sltLocation + '&curl=' + strURL + '&ctype=' + sltTypeOfCamera + '&User=Admin', true)
          break;
      }
      request.onload = function () {
      // Begin accessing JSON data here
      // eslint-disable-next-line no-unused-vars
        var data = JSON.parse(this.response)
        // eslint-disable-next-line no-empty
        if (request.status >= 200 && request.status < 400) {

        } else {
          console.log('error')
        }
      }
      request.send()

    }
  }
}
</script>
