<template>
    <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          New Camera Screen Setup
        </CCardHeader>
        <CCardBody>
          <template>
            <div>
              <template>
                <CForm>
                  <CInput
                    label="Screen Title"
                    horizontal
                  />              
                  <CSelect
                  label="Screen Resolution"
                  horizontal
                  :options="ResolutionOptions"
                  placeholder="Please select screen size"
                  />
                  <hr>
                  <label>Camera Selection</label>
                  <multiselect v-model="CameraSelection" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                  <hr>
                  <div class="text-right">
                  <CButton color="primary" class="px-4" style="text-align=right">Save</CButton>
                </div>
                </CForm>
              </template>
            </div>
          </template>
        </CCardBody>
      </CCard>
    </CCol>
    
  </CRow>
  

</template>

<script>
import Multiselect from 'vue-multiselect'
import axios from "axios";
export default {
  components: {
    Multiselect
  },
  data () {
    return {
      CameraSelection: [],
      options: [],
      ResolutionOptions: []
    }
  },
  mounted:function(){
    axios.get("https://localhost:4354/api/Setting/getScreenResolution")
      .then(response => {
         this.ResolutionOptions = JSON.parse(response.data);
      })
      // eslint-disable-next-line no-unused-vars
      .catch(err => {
         // Manage the state of the application if the request 
         // has failed      
      }),
      axios.get("https://localhost:44365/api/Setting/getCameraList")
      .then(response => {
        console.log(JSON.parse(response.data))
         this.options = JSON.parse(response.data);
      })
      // eslint-disable-next-line no-unused-vars
      .catch(err => {
         // Manage the state of the application if the request 
         // has failed      
      })
  },
  methods: {
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>