<template>
  <div class="c-app flex-row align-items-center">   
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm>
                  <img alt="Vue logo" 
                  src="../../assets/logo-ntt.png" 
                  name="logo" 
                  size="custom-size" 
                  :height="70" 
                  viewBox="10 10 110 134"
                  style="position:relative; left:110px; right:100px; top:1px;"
                  />
                  <h1>Login</h1>
                  <p class="text-muted">Please Sign In to your account</p>
                  <CInput
                    placeholder="Username"
                    autocomplete="username email"
                  >
                    <template #prepend-content><CIcon name="cil-user"/></template>
                  </CInput>
                  <CInput
                    placeholder="Password"
                    type="password"
                    autocomplete="curent-password"
                  >
                    <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                  </CInput>
                  <CRow>
                    <CCol col="6" class="text-left">
                      <router-link to="/Dashboard" v-slot="{href, route, navigate}">
                      <CButton color="primary" class="px-4" :href="href" v-on:click="navigate" style="text" :text="route.name">Login</CButton>
                      </router-link>
                    </CCol>
                    <CCol col="6" class="text-right">
                      <CButton color="link" class="px-0">Forgot password?</CButton>
                      <CButton color="link" class="d-lg-none">Register now!</CButton>
                    </CCol>
                  </CRow>
                  
                </CForm>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
export default {
  name: 'Login',
  method: {
    allgovisionconnect(){
      var axios = require('axios');
      var qs = require('qs');
      var data = qs.stringify({
      'email': 'administrator@my.ntt.com',
      'password': 'kf7d6gVye8KoLBlr7h61v5nTmayFrnwQ8oLgCErXbjc=' 
      });
      var config = {
        method: 'post',
        url: 'https://10.115.12.79:9080/config/api/v1/login',
        headers: { 
          'Content-Type': 'application/x-www-form-urlencoded', 
          'Cookie': 'JSESSIONID=s%3AG5Jlh1-MkHtvXmYpyNiYthLSmRZ1xsie.%2F%2F4HiOQcofrG92A7rFGiopDiRw7bugPXQE6Tf2wLlYY'
        },
        data : data
      };

      axios(config)
      .then(function (response) {
        console.log(JSON.stringify(response.data));
        alert(JSON.stringify(response.data))
      })
      .catch(function (error) {
        console.log(error);
        alert(error)
      });
    }
  }
}
</script>
