<template>
<div class="row">
	<div class="col-sm-9">
		<object v-for="item in items" type='application/x-vlc-plugin' id='vlc' events='True' width="700" height="500" pluginspage="http://www.videolan.org" codebase="http://download.videolan.org/pub/videolan/vlc/0.8.6c/win32/axvlc.cab">
			<param name='mrl' value=items />
			<param name='volume' value='50' />
			<param name='autoplay' value='true' />
			<param name='loop' value='false' />
			<param name='fullscreen' value='false' />
		</object>
	</div>
	<div class="col-sm-3">
		<CDataTable
            hover
            striped
            :items="facedata"
            :fields="fields"
            :items-per-page="5"
            clickable-rows
            :active-page="activePage"
            @row-clicked="rowClicked"
            :pagination="{ doubleArrows: false, align: 'center'}"
            @page-change="pageChange"
          >
		  <template #Photo="data">
              <td>
				  <CImg :src="data.item.Photo"></CImg>
              </td>
			</template>
          </CDataTable>
	</div>
</div>
</template>

<script>
import FD from './faceData'
export default {
	name: 'Screenview',
	data(){
		return{
			Screens: 4,
			items: ["rtsp://onvif:onvif@10.115.12.80:554/live/7E7B549D-657C-4C7D-A948-EF1879836BBB"],
			facedata: FD,
			fields: [
				{ key: 'Photo', label: 'Photo', _classes: 'font-weight-bold' },
				{ key: 'Information', label: 'Information' }
			],
		}
	}
}
</script>


<style scoped>
.video_wrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
iframe{
	overflow:hidden;
	top: 0;
	left: 0;
	width: 50%;
	height: 320px;
	padding: 0;
	margin: 0;
	border: 0;
}
</style>