
<template>
      <object type='application/x-vlc-plugin' id='vlc' events='True' width="720" height="540" pluginspage="http://www.videolan.org" codebase="http://download.videolan.org/pub/videolan/vlc/0.8.6c/win32/axvlc.cab">
                    <param name='mrl' value='rtsp://onvif:onvif@10.115.12.80:554/live/04E21294-B5DB-4485-BDDC-4983BF711699' />
                    <param name='volume' value='50' />
                    <param name='autoplay' value='true' />
                    <param name='loop' value='false' />
                    <param name='fullscreen' value='false' />
      </object>
</template>
 
